<h1>Sign in as admin@admin.com with password 'adminadmin'</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to "Login Here", new_user_session_path unless user_signed_in? %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete if user_signed_in? %>
